/* Navbar styling */
.navbar_home_guest {
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
}

.navbar_home_guest_left {
  flex: 1;
  min-width: 400px;
  text-align: left;
}

.home_guest_list li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 10px;
  font-size: 20px;
  font-family: Helvetica;
}

.navbar_home_guest_left a {
  text-decoration: none;
  color: black;
}

.navbar_home_guest_centre {
  flex: 1;
  margin-left: 50px;
  font-family: Helvetica;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}

.internify_logo {
  background: linear-gradient(
      106.26deg,
      #e61a4d 11.83%,
      rgba(255, 255, 255, 0) 126.88%
    ),
    linear-gradient(0deg, #043a74, #043a74);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar_home_guest_right {
  flex: 1;
  font-size: 20px;
  text-align: right;
  padding-left: 1em;
}

.navbar_home_guest_right a {
  text-decoration: none;
  margin-right: 40px;
  color: black;
  font-weight: bold;
  font-size: 24px;
  font-family: Helvetica;
}
