.lbody_lwr_list {
    display: flex;
    height: 110px;
    margin-top: 6%;
}z

.lbody_lwr_left {
    flex: 1;
    float: left;
    margin-left:-500%;
}

.footer_item {
    list-style-type: none;
    font-family: Helvetica;
    margin-top: 1.2%;
    color: white;
}


.navbar_login_link1 {
    text-decoration: none;
  color: white;
}

.navbar_login_link2 {
    text-decoration: none;
  color: white;
}

.navbar_login_link3 {
    text-decoration: none;
    color: white;
}

.lbody_lwr_name {
    float: right;
    flex: 1;
}


