.login_body_upper {
    display: flex;
    flex-direction: row;
    width: 100%
}


.l_body_upr_left {
    flex: 1;
}

.l_body_upr_cntr {
    flex: 1;
    margin-top: -8%;
    min-width: 380px;
}

.welcome_message {
    color: whitesmoke;
    font-family: Helvetica;
    font-size: 30px;
    margin-right: -50%;
}

.welcome_text {
    padding: 50px;
}


.fields_buttons {
    margin-right: -50%;
    margin-top: 10%;

}

.fEmail {

    margin-top: 5px;
    margin-bottom: 10px;

}

.fPassword {
    margin-top: 10px;
    margin-bottom: 10px;
}

.login_button {
  width: 330px;
  height: 40px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;

}


.l_body_upr_right {
    flex: 1;
}

.create_forgot {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
    font-size: 13px;
    font-family: Helvetica;
    min-width: 330px;
}

.create_account {
    flex: 1;
}

.create_account_link {
    text-decoration: none;
    color: whitesmoke;

}

.forgot_password{
    flex: 1;
}

.forgot_password_link {
    margin-left: -80px;
    color: whitesmoke;

}