/* Navbar styling */
.navbar_home_guest {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  list-style-type: none;
  text-decoration: none;
}

.navbar_home_guest_left {
  flex: 1;
  min-width: 375px;
  text-align: left;
}

.home_guest_list li {
  list-style-type: none;
  display: inline-block;
  margin-left: -45px;
  padding: 10px 30px;
  font-size: 20px;
  font-family: Helvetica;
}

.navbar_home_guest_left a {
  text-decoration: none;
  color: black;
}

.navbar_home_guest_centre {
  flex: 1;
  min-width: 375px;
  margin-top: -20px;
  margin-left: 50px;
  font-family: Helvetica;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  /*padding: -5px 30px;*/
}

.navbar_home_guest_right {
  flex: 1;
  min-width: 375px;
  font-family: Helvetica;
  font-size: 20px;
  text-align: right;
}

.navbar_home_guest_right a {
  text-decoration: none;
  margin-right: -20px;
  color: black;
}

/* Header Home Styling */
.header_home_guest {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 241px;
}

.left_home_guest {
  flex: 2;
}

.right_home_guest {
  flex: 1;
}

/* Container Home Styling */
.container_one {
  display: flex;
  flex-direction: row;
}

.container_one_left {
  align-items: left;
  flex: 1;
}

.container_one_right {
  align-items: right;
  flex: 1;
}

.container_home_text {
  text-align: center;
}

.container_two {
  text-align: center;
}

.container_three {
  display: flex;
  flex-direction: row;
}

.container_three_left {
  flex: 1;
  align-items: left;
}

.container_three_right {
  flex: 1;
  align-items: right;
}

.container_four {
  display: flex;
  flex-direction: column;
}

.container_four_left {
  flex: 1;
}

.container_four_right {
  flex: 1;
}

.footer_home_guest {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 110px;
}

.footer_home_guest_left {
  flex: 1;
  text-align: left;
}

.footer_home_guest_left li {
  list-style-type: none;
}

.footer_home_guest_left a {
  text-decoration: none;
  color: black;
}

.footer_homeguest_right {
  flex: 1;
  font-family: Helvetica;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}
