.auth_navbar_container {
  height: 80px;
  padding-top: 20px;
}

.auth_navbar_link {
  text-decoration: none;
  color: black;
}


.auth_navbar_links {
  display: flex;
  flex-direction: row-reverse;
  margin-top: -30px;
}

.auth_navbar_item {
  display: block;
  text-align: left;
  padding-left: 25px;
  font-size: 20px;
  font-family: Helvetica;
  text-decoration: none;
  color: black;
}


.auth_navbar_logo {
  margin-left: 20%;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(
      106.26deg,
      #e61a4d 11.83%,
      rgba(255, 255, 255, 0) 126.88%
    ),
    linear-gradient(0deg, #043a74, #043a74);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.auth_navbar_logo:hover {
  opacity: 0.9;
}

.navbar_container {
  padding-top: 10px;
  margin-bottom: 15px;
}



.logo {
  padding-top: 10px;
}

hr.new1 {
  border-top: 5 px solid blue;
}
