/* Navbar styling */
.navbar_home_guest {
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    background-color: white;
  }
  
  .navbar_home_guest_left {
    flex: 40%;
  }
  
  .home_guest_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
  }
  
  .navbar_main_item {
    float: left;
  }
  
  .navbar_main_item {
    display: block;
    text-align: center;
    padding: 10px 10px;
    padding-left: 25px;
    font-size: 20px;
    font-family: Helvetica;
  }
  
  .navbar_main_link {
    text-decoration: none;
    color: black;
  }
  
  .navbar_home_guest_centre {
    flex: 30%;
    margin-right: 10%;
    font-family: Helvetica;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
  }
  
  .internify_logo {
    background: linear-gradient(
        106.26deg,
        #e61a4d 11.83%,
        rgba(255, 255, 255, 0) 126.88%
      ),
      linear-gradient(0deg, #043a74, #043a74);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .navbar_home_guest_right {
    flex: 30%;
    font-size: 20px;
    text-align: right;
  }
  
  .navbar_home_guest_right a {
    text-decoration: none;
    margin-right: 30%;
    color: black;
    font-weight: bold;
    font-size: 24px;
    font-family: Helvetica;
  }
  