.profile_left_heading {
  margin-left: 10%;
}

.profile_img {
  max-height: 100px;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.profile_handle_desc {
  list-style: none;
}

li:not(:last-child) {
  margin-bottom: 3%;
}

.profile_inner_desc {
  width: 400px;
  height: auto;
}

.profile_inner_contact {
  margin-left: -75%;
}

.profile_inner_contact_list {
  list-style: none;
}
