.profile_img {
  max-height: 100px;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.profile_handle_desc {
  list-style: none;
}

li:not(:last-child) {
  margin-bottom: 3%;
}

.profile_labels {
  display: table;
  margin: 0 auto;
  padding-right: 10%;
}

ul#profile_labels_list {
  list-style: none;
  min-width: 400px;
}

ul#profile_labels_list li {
  display: inline;
  padding: 1%;
}

.profile_inner_desc {
  width: 400px;
  height: auto;
}

.profile_inner_contact {
  margin-left: -75%;
}

.profile_inner_contact_list {
  list-style: none;
}

.profile_left_status_list {
  list-style: none;
  font-size: 0.9em;
  padding-left: 0;
}
