
.input_title_form {
    display: flex;
    margin-top: 1%;
    flex-direction: column;
}

.input_title_row {
    padding: 10px 0;
    display: flex;
}

.input_title_col {
    flex: 1;
    margin-left: 10px;
}

.input_title_col:first-child {
    margin-left: 0px;
}

.i-form-outer {
    width: 250%;
}

.i-form-inner {
    width: 100%;
}

