.input_title_form {
  display: flex;
  margin-top: 1%;
  flex-direction: column;
}

.input_title_row {
  padding: 20px 0;
  display: flex;
}

.i-form-outer {
  width: 50%;
}

.i-form-alt {
  width: 100%;
}
