.learn_more {
  font-weight: bold;
  font-size: 18px;
  width: 178px;
  height: 46px;
  background-color: transparent;
  border: 2px solid #fffcff;
  border-radius: 3px;
  font-family: Helvetica;
  color: white;
}

.learn_more:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
