.landing_section_matches {
  margin: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing_section_matches_paragraph {
  padding-bottom: 10%;
}

.landing_section_templates {
  margin: 10%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.landing_section_templates_paragraph {
  padding-bottom: 5%;
}

.landing_section_templates_asset {
  max-width: 800px;
  max-height: 400px;
}

@media only screen and (min-width: 768px) {
  .landing_page {
    overflow: hidden;
  }

  .landing_section_matches {
    flex-direction: row;
    margin: 5% 15%;
    margin-top: 10%;
  }

  .landing_section_matches_paragraph {
    padding-right: 10%;
  }

  .landing_section_templates {
    margin: 5% 0;
    height: 584px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .landing_section_templates_paragraph {
    margin-left: 48em;
    margin-right: 15%;
  }

  .landing_section_templates_asset {
    max-width: 1270px;
    max-height: none;
    position: absolute;
    transform: translateX(-45%);
  }
}

.landing_section_matches_asset {
  min-width: 384px;
}
