.templates_container {
  display: flex;
  max-height: 520px;
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
}

.templates_container {
  display: flex;
  /* max-height: 600px; */
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
}

.template {
  display: inline-block;
  margin-left: 5%;
}

.template:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px rgb(0 0 0 0.2);
}

.page_title {
  text-align: left;
  margin-left: 25%;
  padding-bottom: 2%;
  margin-top: -4.2%;
}

.message {
  font-weight: normal;
}

.line_style {
  color: #e2e2e2;
  stroke: solid;
  stroke-width: 2px;
  border-radius: 20px;
}
