.view_page_details_list {
  list-style-type: none;
  padding: 0px;
}

.templates_container {
  display: flex;
  /* max-height: 600px; */
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
}

.template {
  display: inline-block;
  margin-left: 5%;
}

.template:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px rgb(0 0 0 0.2);
}

.page_title {
  padding-top: 2%;
  text-align: left;
  margin-left: 20%;
  padding-bottom: 2%;
}
